/* Estilos básicos del navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.language-switcher {
    display: flex;
}

.lang-btn {
    background-color: #2979FF;
    border: none;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.lang-btn.active {
    background-color: #123672;
}

.menu-toggle {
    display: none;
}

/* Menú desplegable para móviles */
.mobile-nav-dropdown {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 60px; /* Espacio debajo del toolbar */
    right: 0;
    background-color: #fff;
    width: 100%;
    max-width: 300px; /* Ancho fijo para el menú desplegable */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 999;
}

.mobile-nav-dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.mobile-nav-dropdown a:hover {
    background-color: #f0f0f0;
}

.mobile-lang-switcher {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.mobile-lang-switcher .lang-btn {
    font-size: 1rem;
    margin: 0 10px;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .nav-links, .language-switcher {
        display: none;
    }

    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #333;
    }
}

/* Sección Hero */
.hero-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 40px;
}

.hero-left .hero-image {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}
.hero-left {
    flex: 1;
    text-align: center;
}

.hero-right {
    max-width: 600px;
}

.hero-right h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.hero-right .highlight {
    color: #2979FF;
}

.hero-right p {
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #2979FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #123672;
}

/* Sección "Confiado por estudiantes y profesionales" */
.trusted-section {
    text-align: center;
    margin-top: 40px;
}

.trusted-section p {
    font-size: 0.9rem;
    color: #999;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* Contenedor de los logos */
.trusted-logos {
    display: flex;
    justify-content: space-around; /* Espacio igual entre los logos */
    align-items: center;
    gap: 50px; /* Espacio entre los logos */
}

.trusted-logos img {
    max-width: 130px; /* Tamaño de los logos */
    opacity: 0.6; /* Transparencia de los logos */
    transition: opacity 0.3s ease;
}

.trusted-logos img:hover {
    opacity: 1; /* Efecto hover para mejorar la visibilidad del logo */
}


/* Sección de email */

.email-section {
    width: 100%;
    padding: 60px 20px;
    background-color: #f7f7ff;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.email-container {
    width: 100%;
    max-width: 10000px; /* Controla el ancho máximo del contenedor */
    padding-left: 60px;
    padding-right: 40px;
    text-align: left;
}

.email-container h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #123672;
    margin-bottom: 10px;
}

.email-container p {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 20px;
}

.email-input-wrapper {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.email-input-wrapper input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.email-input-wrapper button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #2979FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-input-wrapper button:hover {
    background-color: #123672;
}

.email-container small {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #888;
    display: block;
    margin-top: 20px;
    text-align: left;
}

/* Sección de Características */
.features-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.features-section h2 {
    font-size: 2.5rem;
    color: #123672;
    margin-bottom: 10px;
    font-weight: bold;
}

.features-section p {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature-card {
    flex: 1;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.4s ease; /* Transición suave */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.feature-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Sombra más intensa al hacer hover */
    border-color: rgba(41, 122, 255, 0.46); /* El borde ahora es un color sólido azul al hacer hover */
    transform: translateY(-5px); /* La tarjeta se eleva un poco */
}

.feature-icon {
    margin-bottom: 20px;
}

.feature-icon img {
    max-width: 60px;
    height: auto;
    transition: transform 0.4s ease; /* Transición suave al hacer hover */
}

.feature-card:hover .feature-icon img {
    transform: scale(1.2); /* Agranda la imagen un poco más */
}

.feature-card h3 {
    font-size: 1.5rem;
    color: rgba(41, 121, 255, 0.82);
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.feature-card p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Sección App */
.app-section {
    background: linear-gradient(90deg, #F2F5FF 0%, #C7D4FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 700px;
    padding-bottom: 60px; /* Agrega 60px de espacio adicional solo en la parte inferior */

}

.app-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.app-left {
    flex: 1;
}

.app-left h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #123671;
    margin-bottom: 25px;
}

.app-left p {
    color: #555;
    margin-bottom: 20px;
}

.app-download {
    display: flex;
    gap: 15px;
}

.store-icon {
    width: 100px;
    height: 100px;
}

.download-info {
    font-size: 0.8rem;
    color: #999;
    margin-top: 10px;
}

.app-right {
    flex: 1;
    position: relative;
}

.back-phone {
    max-width: 320px;
    position: absolute;
    top: 0px;
    left: 70px;
}

.front-phone {
    max-width: 300px;
    position: relative;
    z-index: 1;
    top: 88px;
    left: 200px;
}


/* Animación de fade-in para que los elementos aparezcan suavemente */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Desliza elementos desde la izquierda */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Desliza elementos desde la derecha */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Fade in up para el párrafo */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Por defecto, los elementos están ocultos o desplazados para que aparezcan con la animación */
.js-animate {
    opacity: 0;
    transform: translateY(30px); /* Se desplaza hacia abajo */
    transition: all 0.9s ease-out; /* Tiempo de transición para la animación */
}

.js-animate.animate-visible {
    opacity: 1;
    transform: translateY(0); /* Aparece y se reposiciona en su lugar */
}

/* Sección de precios */

.pricing-section * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

.pricing-section h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #123672;
    margin-bottom: 10px;
}

.pricing-section {
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.pricing-section html {
    font-size: 40px;
}

.pricing-section body {
    background: #f7f7ff;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.pricing-section header {
    color: #123672;
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-section .toggle {
    margin-top: 2rem;
    color: #789DFF;
    display: flex;
    align-items: center;
}

.pricing-section .toggle-btn {
    margin: 0 1rem;
}

.pricing-section .checkbox {
    display: none;
}

.pricing-section .sub {
    background: linear-gradient(135deg, #789DFF 0%, #2979FF 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.pricing-section .circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.pricing-section .checkbox:checked + .sub {
    justify-content: flex-end;
}

.pricing-section .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-section .card {
    background: #fff;
    color: #2979FF;
    border-radius: 0.8rem;
}

.pricing-section .cards .card.active {
    background: linear-gradient(135deg, #789DFF 0%, #2979FF 100%);
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

.pricing-section ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pricing-section ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.pricing-section ul li.price {
    font-size: 3rem;
    color: #123672;
    padding-bottom: 2rem;
}

.pricing-section .shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.pricing-section .card.active .price {
    color: #fff;
}

.pricing-section .btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #2979FF;
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}

.pricing-section .active-btn {
    background: #fff;
    color: #2979FF;
}

.pricing-section .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.pricing-section .card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}

.pricing-section .pack {
    font-size: 1.1rem;
}


@media (min-width: 768px) and (max-width: 1046px) {
    .pricing-section .cards {
        display: flex;
    }
    .pricing-section .card {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .pricing-section .cards .card.active {
        transform: scale(1);
    }
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


/* Sección de Testimonios */
.testimonials-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f7f7ff;
}

.testimonials-section h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #123672;
    margin-bottom: 10px;
}

.testimonials-section p {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

/* Estilos del carrusel */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px; /* Espacio entre tarjetas */
    padding: 0 10px; /* Añade un pequeño espacio en los lados para centrar mejor */
}

.carousel-item {
    flex: 0 0 calc(33.33% - 10px); /* Tarjetas ocupan 1/3 del ancho del carrusel con espacio */
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px; /* Ancho fijo sugerido */
    height: 300px; /* Alto fijo sugerido */
    text-align: left;
    flex-direction: column;
    position: relative;
    justify-content: space-between; /* Distribuye el contenido */
}


.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.quote-icon {
    font-size: 2.5rem;
    color: #2979FF;
    position: absolute;
    top: 25px;
    left: 110px;
}

.social-icons {
    position: absolute;
    top: 25px;
    right: 20px;
}

.social-icons i {
    font-size: 1.2rem;
    color: #2979FF;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: #123672;
}

.testimonial-card p {
    margin-top: 100px;
    margin-left: 110px;
    margin-right: 25px;

    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.testimonial-card h4 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #123672;
    margin-top: 0px;
    margin-left: 110px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Paginación centrada */
.carousel-pagination {
    text-align: center;
    margin-top: 20px;
}

.carousel-pagination .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-pagination .dot.active {
    background-color: #2979FF;
}

.carousel-prev,
.carousel-next {
    display: none
}

/* Contact Section */
.contact-section {
    padding: 60px 20px; /* Reduce padding en pantallas más pequeñas */
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.contact-left {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.contact-right {
    flex: 1;
    text-align: right;
    margin-left: 20px;
}

.contact-right iframe {
    max-width: 100%;
    border-radius: 10px;
    height: 450px; /* Ajusta la altura del iframe */
}

.contact-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-left h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #123672;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los inputs se acomoden verticalmente en pantallas pequeñas */
    gap: 20px;
}

.form-row input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

#message {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #2979FF;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #123672;
}


/* Redes Sociales en el Footer */
.social-icons {
    margin-top: 20px; /* Espacio encima de los iconos */
}

.social-icons a {
    font-size: 24px; /* Tamaño de los iconos */
    color: #555; /* Color de los iconos */
    margin-right: 15px; /* Espaciado entre los iconos */
    text-decoration: none; /* Quita el subrayado */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2979FF; /* Color cuando se pasa el ratón por encima */
}



/* Responsivo para móviles */
@media (max-width: 768px) {
    .contact-section {
        padding: 20px 40px;
    }
    .contact-content {
        flex-direction: column;
        align-items: center; /* Asegura que todo esté centrado en móvil */
        text-align: center;
    }

    .contact-left, .contact-right {
        width: 100%; /* Asegura que ambos lados ocupen el mismo espacio */
    }

    .form-row {
        flex-direction: column; /* Cambiamos la disposición a columna */
        width: 100%; /* Aseguramos que los campos ocupen el 100% del contenedor */
    }

    .form-row input {
        width: 100%; /* Aseguramos que el input ocupe todo el espacio disponible */
    }

    .contact-right {
        margin-top: 20px;
    }

    .contact-right img {
        max-width: 80%; /* Ajusta el tamaño de la imagen en móviles */
        margin: 0 auto;
    }
    .contact-right iframe {
        height: 300px; /* Cambia el tamaño del mapa en móviles si es necesario */
    }
}


/* Footer Section */
.footer-section {
    background-color: #f7f7ff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}

.footer-col {
    flex: 1;
    text-align: left;
}

.footer-col h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #123672;
    margin-bottom: 15px;
}

.footer-col p,
.footer-col ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    display: flex;
    align-items: center;
}

.footer-col ul li i {
    margin-right: 10px;
    color: #2979FF;
}

.footer-col .social-footer {
    margin-top: auto; /* Empuja los íconos hacia abajo */
    display: flex;
    gap: 10px; /* Espacio entre íconos */
    justify-content: flex-start; /* Asegura que se alineen a la izquierda */
}


.social-footer a {
    font-size: 1.5rem;
    color: #2979FF;
    transition: color 0.3s ease;
    text-decoration: none; /* Elimina el subrayado */
}

.social-footer a:hover {
    color: #123672;
}

/* Footer Bar */
.footer-bar {
    text-align: center;
    padding: 20px;
    background-color: #f7f7ff;
    color: #555;
    font-size: 0.9rem;
}

.footer-bar p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-col {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center; /* Centra los íconos en pantallas pequeñas */
        margin-top: 10px; /* Añade espacio superior para separarlos del contenido anterior */
    }
}

/* Para pantallas de hasta 430px (iPhone 14 Pro Max) */
@media (max-width: 430px) {


    .logo img {
        height: 35px;
    }

    .mobile-lang-switcher .lang-btn {
        font-size: 0.9rem;
    }

    /* Sección Hero */
    .hero-section {
        padding: 40px 15px;
    }

    .hero-content {
        flex-direction: column; /* Coloca el contenido en columna */
        text-align: center;
        align-items: center;
        max-width: 100%; /* Evita que el contenido sobrepase la pantalla */
        overflow: hidden;
    }

    .hero-left {
        margin-bottom: 20px;
    }

    .hero-left .hero-image {
        max-width: 90%; /* Asegura que la imagen no se salga de la pantalla */
        border-radius: 10px;
    }

    .hero-right h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .hero-right p {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px 15px;
        max-width: 90%; /* Evita que el botón se desborde */
    }

    /* Logos confiados */
    .trusted-section {
        margin-top: 30px;
        text-align: center;
    }

    .trusted-section p {
        font-size: 0.85rem;
    }

    .trusted-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permite que los logos se envuelvan en varias líneas */
        gap: 15px; /* Espacio reducido entre los logos */
    }

    .trusted-logos img {
        flex: 0 1 50%; /* Los logos ocuparán hasta el 40% del ancho disponible */
        max-width: 110px; /* Mantiene un tamaño máximo razonable para los logos */
        margin-bottom: 10px; /* Añade un margen inferior para separar los logos entre sí verticalmente */
    }


    /*Seccion correo*/
    .email-section {
        padding: 40px 20px;
        justify-content: center; /* Centramos la sección en pantallas pequeñas */
    }

    .email-container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%; /* El contenedor ocupa todo el ancho disponible */
        text-align: center; /* El contenido dentro del contenedor se alinea al centro */
    }

    .email-container h1 {
        font-size: 2rem; /* Reducimos el tamaño del título en pantallas pequeñas */
    }

    .email-container p {
        font-size: 1.3rem; /* Reducimos el tamaño del texto */
        margin-bottom: 30px;
    }

    .email-input-wrapper {
        display: flex; /* Cambiamos a flex para mejor disposición horizontal */
        justify-content: center; /* Centramos el contenido horizontalmente */
        gap: 10px; /* Espacio entre el input y el botón */
    }

    .email-input-wrapper input {
        width: 80%; /* Aumentamos el ancho del input */
        padding: 15px; /* Aumentamos el padding para que sea más alto */
        font-size: 1.2rem; /* Aumentamos el tamaño del texto dentro del input */
        margin-right: 10px; /* Añadimos espacio entre el input y el botón */
        box-sizing: border-box; /* Aseguramos que el padding no afecte al ancho */
    }

    .email-input-wrapper button {
        width: 20%; /* Reducimos el ancho del botón */
        padding: 10px; /* Ajustamos el padding para que sea más pequeño */
        font-size: 1rem; /* Mantenemos el tamaño de fuente adecuado */
        box-sizing: border-box; /* Asegura que el padding no afecte al ancho */
    }

    .email-container {
        text-align: center; /* Centra todo el contenido de la sección */
    }

    .email-container small {
        text-align: center; /* Centra el texto debajo del input y el botón */
        display: block;
        margin-top: 10px;
    }

    /* Sección App */
    .app-section {
        animation: fadeIn 1s ease-out; /* Fade in al cargar la sección */
        padding: 30px 20px;
        padding-bottom: 100px; /* Agrega 60px de espacio adicional solo en la parte inferior */
    }

    .app-content {
        flex-direction: column;
        text-align: center;
        gap: 20px; /* Espacio entre los elementos */

    }

    .app-left {
        padding: 0 15px; /* Añade padding en los lados para evitar que el texto se acerque a los bordes */
    }

    .app-left h2 {
        font-size: 1.6rem;
        animation: slideInFromLeft 0.8s ease-out; /* Desliza el texto desde la izquierda */
    }

    .app-left p {
        font-size: 0.95rem;
        animation: fadeInUp 0.9s ease-out; /* Desliza el párrafo hacia arriba */
    }

    .app-download {
        gap: 10px;
        justify-content: center;
        animation: fadeInUp 1s ease-out; /* Desliza el párrafo hacia arriba */
    }

    .download-info {
        font-size: 0.7rem;
    }

    .store-icon {
        width: 60px;
        height: 60px;
        transition: transform 0.3s ease; /* Suaviza el agrandamiento de los íconos */
    }

    .store-icon:hover {
        transform: scale(1.1); /* Agranda los íconos al pasar el mouse por encima */
    }

    .back-phone {
        max-width: 200px;
        top: 0px;
        left: -30px;
        animation: slideInFromLeft 1.2s ease-out; /* Desliza el teléfono de fondo desde la izquierda */
    }

    .front-phone {
        max-width: 190px;
        top: 80px;
        left: 70px;
        animation: slideInFromRight 1.2s ease-out; /* Desliza el teléfono delantero desde la derecha */
    }

    .download-info {
        font-size: 0.7rem;
    }
    /*Seccion usuarios*/
    .carousel-inner {
        padding: 0; /* Elimina el espacio en los lados para móviles */
        gap: 5px; /* Espacio entre tarjetas en móviles */
    }

    .carousel-item {
        flex: 0 0 100%; /* Tarjetas ocupan todo el ancho en móviles */
        height: auto; /* Ajuste automático del alto según contenido */
    }

    .testimonial-card {
        max-width: 350px; /* Ajusta el ancho de las tarjetas para móviles */
        height: auto; /* Mantiene el alto según contenido */
        padding: 15px; /* Espaciado interno compacto pero visible */
        border-radius: 8px; /* Mantener bordes redondeados */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar las tarjetas */
        margin: 0 auto;
        text-align: left;
        flex-direction: column;
        position: relative;
    }

    .user-avatar {
        width: 70px; /* Ajuste de tamaño del avatar para móviles */
        height: 70px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 0px; /* Margen para alinear al texto */
        float: left; /* Avatar a la izquierda del texto */
    }

    .quote-icon {
        font-size: 2rem; /* Ajuste de tamaño del icono de comillas */
        color: #2979FF;
        margin-left: 10px; /* Alineación cercana al avatar */
        float: left; /* Posiciona las comillas al lado del avatar */
        margin-top: 10px;
    }

    .testimonial-card p {
        font-size: 1rem;
        color: #555;
        line-height: 1.4;
        margin-top: 90px; /* Ajuste de margen superior debajo del avatar */
        margin-left: 0; /* Debajo del avatar */
        margin-right: 5px;
    }

    .testimonial-card h4 {
        font-size: 1.1rem;
        font-weight: bold;
        color: #123672;
        margin-top: 10px; /* Espaciado superior */
        margin-bottom: 10px; /* Espaciado inferior */
        margin-left: 0; /* Alineado con el texto */
    }

    .social-icons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        justify-content: flex-start; /* Alineado debajo del nombre del usuario */
    }

    .social-icons i {
        font-size: 1.2rem;
        color: #2979FF;
        transition: color 0.3s ease;
    }

    .social-icons i:hover {
        color: #123672;
    }
    /*Seccion Plans*/

    /* Sección Contact */
    .contact-section {
        padding: 40px 15px; /* Reduce padding para pantallas pequeñas */
    }

    .contact-content {
        flex-direction: column;
        text-align: center; /* Centra todo el contenido para pantallas pequeñas */
        gap: 20px;
    }

    .contact-left, .contact-right {
        margin: 0; /* Elimina los márgenes laterales en pantallas pequeñas */
        text-align: center; /* Asegura que el texto esté centrado */
    }

    .contact-left h2 {
        font-size: 1.8rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    .contact-left p {
        font-size: 1rem;
    }

    .form-row {
        flex-direction: column; /* Hace que los inputs se alineen en una sola columna */
    }

    .form-row input {
        width: 100%; /* Asegura que los inputs ocupen todo el ancho en pantallas pequeñas */
    }

    .contact-right iframe {
        height: 300px; /* Ajusta la altura del iframe en pantallas pequeñas */
    }

    .btn-submit {
        width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
        padding: 15px;
    }

    /* Sección de testimonios */
    .carousel-inner {
        padding: 0; /* Elimina el espacio en los lados para móviles */
        gap: 2px; /* Espacio entre tarjetas en móviles */
    }

    .testimonial-card {
        max-width: 350px; /* Ajusta el ancho de las tarjetas para móviles */
        height: auto; /* Mantiene el alto según contenido */
        padding: 15px; /* Espaciado interno compacto pero visible */
        border-radius: 8px; /* Mantener bordes redondeados */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar las tarjetas */
        margin: 0 auto;
        text-align: left;
        flex-direction: column;
        position: relative;
    }

    .user-avatar {
        width: 70px; /* Ajuste de tamaño del avatar para móviles */
        height: 70px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 0px; /* Margen para alinear al texto */
        float: left; /* Avatar a la izquierda del texto */
    }

    .quote-icon {
        font-size: 2rem; /* Ajuste de tamaño del icono de comillas */
        color: #2979FF;
        margin-left: 10px; /* Alineación cercana al avatar */
        float: left; /* Posiciona las comillas al lado del avatar */
        margin-top: 10px;
    }

    .testimonial-card p {
        font-size: 1rem;
        color: #555;
        line-height: 1.4;
        margin-top: 90px; /* Ajuste de margen superior debajo del avatar */
        margin-left: 0; /* Debajo del avatar */
        margin-right: 5px;
    }

    .testimonial-card h4 {
        font-size: 1.1rem;
        font-weight: bold;
        color: #123672;
        margin-top: 10px; /* Espaciado superior */
        margin-bottom: 10px; /* Espaciado inferior */
        margin-left: 0; /* Alineado con el texto */
    }

    .social-icons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        justify-content: flex-start; /* Alineado debajo del nombre del usuario */
    }

    .social-icons i {
        font-size: 1.2rem;
        color: #2979FF;
        transition: color 0.3s ease;
    }

    .social-icons i:hover {
        color: #123672;
    }



    .features-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .features-section h2 {
        font-size: 1.8rem;
    }

    .features-section p {
        font-size: 1rem;
    }

    .feature-card h3 {
        font-size: 1.2rem;
    }

    .feature-card p {
        font-size: 0.95rem;
    }

    .feature-icon img {
        max-width: 50px;
    }

    .footer-col h4 {
        font-size: 1.2rem;
    }


    .footer-col p,
    .footer-col ul li {
        font-size: 0.9rem;
    }

    .social-footer {
        justify-content: center;
        gap: 8px; /* Espacio entre íconos reducido para móviles */
    }

    .social-footer a {
        font-size: 1.3rem; /* Tamaño más pequeño para pantallas móviles */
    }

}

/* Si hay contenido que se sale de los bordes en pantallas muy pequeñas, usamos overflow hidden */
body {
    overflow-x: hidden;
}
